<div class="jumbotron">
    <h1 class="display-4">Tasks</h1>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg mr-15" routerLink="/tasks/{{projectId}}/alter" role="button">Add new task</a>
        <a class="btn btn-secondary btn-lg" routerLink="/projects" role="button">Go Back to Projects</a>
    </p>
</div>

<div class="container" *ngIf="!pageLoading">
    <ul class="list-unstyled">
        <li class="media mb-15 media-list pb-15" *ngFor="let task of tasks">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ task.title }}</h5>
                <p>{{ task.summary }}</p>
            </div>
            <div class="media-right">
                <a href="javascript:void(0)" class="text-link" routerLink="/tasks/{{projectId}}/alter/{{task._id}}">Edit</a>
                <a href="javascript:void(0)" class="link-danger" (click)="deleteTask()">Delete</a>
            </div>
        </li>
    </ul>
</div>