<div class="jumbotron">
    <div class="profile-header">
        <h1 class="display-4">Projects</h1>
        <img src="/assets/images/person-circle.svg" routerLink="/profile" alt="">        
    </div>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/projects/alter" role="button">Add new project</a>
    </p>
</div>
<div class="container" *ngIf="!pageLoading">
    <ul class="list-unstyled">
        <li class="media mb-15 media-list pb-15" *ngFor="let project of projects">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ project.title }}</h5>
                <p>{{ project.description }}</p>
            </div>
            <div class="media-right">
                <a href="javascript:void(0)" class="text=link" routerLink="/projects/alter/{{project._id}}">Edit</a>
                <a href="javascript:void(0)" class="link-danger" (click)="deleteProject(project._id)">Delete</a>
                <a href="javascript:void(0)" class="text=link" routerLink="/projects/{{project._id}}/tasks">Go to Tasks</a>
            </div>
        </li>
    </ul>
</div>